;; shadow-cljs configuration
{:lein true

 :builds
 {:app
  {:target           :react-native
   :init-fn          forg.root/init!
   :output-dir       "target"
   :output-to        "index.js"
   :compiler-options {:infer-externs :auto}
   :devtools         {:autoload      true
                      :loader-mode   :eval
                      :preloads      [forg.dev.devtools]
                      :repl-pprint   true
                      :async-require true}}
  :app-test
  {:target    :node-test
   :output-to "target/test.js"
   :ns-regexp "-test$"
   :autorun   true
   :compiler-options {:pretty-print true}}}}
