;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[cider/cider-nrepl "0.22.1" :scope "test"]
  [instaparse "1.4.10"]]

 :builds
 {:app
  {:target           :npm-module
   :entry            forg.parser.core
   :output-dir       "target"
   :compiler-options {:infer-externs :auto}
   :devtools         {:autoload true}}}}
